{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {  
    "longitude": ${SECRET_LONGITUDE},                                                                                                                                                                                                                                                                           "latitude": 51.8961088,
    "latitude": "${SECRET_LATITUDE}",
    "elevation": 0,
    "unit_system_v2": "metric",                                                                                                                                                                                                                                                         "location_name": "Thuis",
    "time_zone": "Europe/Amsterdam",
    "external_url": "https://ha.${SECRET_DOMAIN_0}",
    "internal_url": null,
    "currency": "EUR",                                                                                                                                                                                                                                                                  "country": "NL",
    "language": "nl",                                                                                                                                                                                                                                                                   "radius": 30
  }
}